<div class="player-heroes-section section">
  <h5 class="{{header-text-class}}">Player:</h5>
  <input type="text" class="player-text-input"
    onblur="upsertHeroesTable(this.value,this.parentNode.querySelectorAll('.heroes-container'))" />
  <div class="heroes-container">
  </div>
</div>
