<ul class="collection heroes-collection heroes-container">
  {{#heroes}}
  <li class="collection-item avatar">
   <img src="ui/images/heroes/{{imageName}}.png" alt="" class="circle">
   <span class="title">{{name}}</span>
   <p>{{gamesPlayed}} games won.<br>
      {{winPercent}}
   </p>
 </li>
  {{/heroes}}
  {{^heroes}}No Heroes Found :({{/heroes}}
</ul>
