body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.league-rank {
  font-weight: bold;
}

.hero > .title {
  font-weight: bold;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

*:focus {
    outline: none;
}

#toast-container {
  left: 30% !important;
  text-align: center !important;
}
