<div class="player-heroes-section section col s6 m4 l2">
  <h5 class="{{header-text-class}}-text">Player:</h5>
  <input type="text" class="player-text-input text-black"
    onblur="upsertPlayerDetails(this.value,this.parentNode.querySelectorAll('.{{playerDetailsClass}}'), '{{header-text-class}}')"/>
  <div class="{{playerDetailsClass}}">
  </div>
</div>
