<div class="player-details-table grey lighten-3">
  <table class="rankings-collection bordered">
    <thead>
      <th>Type</th>
      <th>MMR</th>
      <th>Rank</th>
    </thead>
    <tbody>
    {{#rankings}}
      <tr>
        <td>{{shortGameMode}}</td>
        <td>{{CurrentMMR}}</td>
        {{#LeagueRank}}
          <td><span class="league-rank">#{{LeagueRank}}</span></td>
        {{/LeagueRank}}
      </tr>
    {{/rankings}}
    </tbody>
  </table>
  <ul class="collection heroes-collection grey lighten-3">
    {{#heroes}}
    <li class="collection-item avatar hero grey lighten-3">
     <img src="ui/images/heroes/{{imageName}}.png" alt="" class="circle">
     <p class="title">{{name}}</p>
     <p>{{gamesPlayed}} won.</p>
     <p class="{{winPercentColor}}">{{winPercent}}</p>
   </li>
    {{/heroes}}
    {{^heroes}}No Heroes Found :({{/heroes}}
  </ul>
</div>
